<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Floating Quote Example</title>
<style>
#firstDiv {float: left;
           width: 200px;
		   font-family: sans-serif;
		   margin: 15px;
}
#secondDiv {float: left;
           width: 350px;
		   font-family: sans-serif;
		   margin: 15px;
}
#thirdDiv {float: left;
           width: 150px;
		   font-family: sans-serif;
		   margin: 15px;
}
#main {width: 790px;
	margin: auto;}
</style>
</head>
<body>

<div id="main">
<div id="firstDiv"><hgroup>
<h1>Winston Churchill</h1>
<h2>Text taken from Wikipedia</h2>
</hgroup>

<p>Sir Winston Leonard Spencer-Churchill, KG, OM, CH, TD, PC, DL, FRS (30 November 1874 - 24 January 1965) was a British politician and statesman known for his leadership of the United Kingdom during the Second World War (World War II). He is widely regarded as one of the great wartime leaders. He served as Prime Minister twice (1940-45 and 1951-55). A noted statesman and orator, Churchill was also an officer in the British Army, a historian, a writer, and an artist. To date, he is the only British prime minister to have received the Nobel Prize in Literature, and he was the first person to be made an honorary citizen of the United States.[1]</p>
</div>

<div id="secondDiv"><hgroup>
<h1>Winston Churchill</h1>
<h2>Text taken from Wikipedia</h2>
</hgroup>

<p>Sir Winston Leonard Spencer-Churchill, KG, OM, CH, TD, PC, DL, FRS (30 November 1874 - 24 January 1965) was a British politician and statesman known for his leadership of the United Kingdom during the Second World War (World War II). He is widely regarded as one of the great wartime leaders. He served as Prime Minister twice (1940-45 and 1951-55). A noted statesman and orator, Churchill was also an officer in the British Army, a historian, a writer, and an artist. To date, he is the only British prime minister to have received the Nobel Prize in Literature, and he was the first person to be made an honorary citizen of the United States.[1]</p>
</div>

<div id="thirdDiv"><hgroup>
<h1>Winston Churchill</h1>
<h2>Text taken from Wikipedia</h2>
</hgroup>

<p>Sir Winston Leonard Spencer-Churchill, KG, OM, CH, TD, PC, DL, FRS (30 November 1874 - 24 January 1965) was a British politician and statesman known for his leadership of the United Kingdom during the Second World War (World War II). He is widely regarded as one of the great wartime leaders. He served as Prime Minister twice (1940-45 and 1951-55). A noted statesman and orator, Churchill was also an officer in the British Army, a historian, a writer, and an artist. To date, he is the only British prime minister to have received the Nobel Prize in Literature, and he was the first person to be made an honorary citizen of the United States.[1]</p>
</div>

</div>
</body>
</html>