<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Complex Example</title>
<style>
#rightTopPanel, #rightBottomPanel {
	clear: both;
}

#leftMainColumn {
	width: 200px;
	margin: 0px 15px 15px 15px;
	float: left;
}

#rightMainColumn {
	margin: 0px 15px 15px 15px;
	width: 460px;
	float: left;
}

#lowerLeftColumn {
	width: 200px;
	margin-top: 15px;
	float: left;
}

#lowerRightColumn {
	width: 200px;
	margin: 15px;
	float: left;
}

#main {
	width: 720px;
	font-family: sans-serif;
}


</style>
</head>

<body>
<div id="main">
<div id="leftMainColumn">
<h3>Record Fullbright Numbers</h3>
A record number of Stanford students and alumni-26-have accepted Fulbright scholarships and will be pursuing special projects in the 2009-10 academic year in countries around the world, the Bechtel International Center recently announced.
</div> <!-- end leftMainColumn -->

<div id="rightMainColumn">
<div id="rightTopPanel"><h3>Invention for Diagnosis</h3>
Stanford students' invention could revolutionize the way diseases are diagnosed.  Stanford graduate students win two $10,000 awards for developing a portable diagnostic lab.</div>
<div id="rightBottomPanel">
<div id="lowerLeftColumn"><h3>Prof Funded for Biodiversity</h3>Stanford's Gretchen Daily wins $420,000 award for finding ways to save biodiversity</div>
<div id="lowerRightColumn"><h3>Stanford professor receives presidential award</h3>
Richard N. Zare is one of 22 nationwide recipients of the Presidential Award for Excellence.</div>
<div class="endPanelDiv"></div>
</div> <!-- end rightBottomPanel -->
</div> <!-- end rightMainColumn -->

<div class="endPanelDiv"></div>
</div> <!-- end main -->
</body>
</html>
