<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Complex Example</title>
<style>
.endPanelDiv {
	clear: both;
}

#rightMain {
	margin: 0px 15px 15px 15px;
	width: 460px;
}

#rightTopPanel, #rightBottomPanel {
	clear: both;
}

#lowerLeftColumn {
	width: 200px;
	margin-top: 15px;
	float: left;
}

#lowerRightColumn {
	width: 200px;
	margin: 15px;
	float: left;
}

</style>
</head>

<body>

<div id="rightMain">
<div id="rightTopPanel"><h3>Invention for Diagnosis</h3>
Stanford students' invention could revolutionize the way diseases are diagnosed.  Stanford graduate students win two $10,000 awards for developing a portable diagnostic lab.</div>
<div id="rightBottomPanel">
<div id="lowerLeftColumn"><h3>Prof Funded for Biodiversity</h3>Stanford's Gretchen Daily wins $420,000 award for finding ways to save biodiversity</div>
<div id="lowerRightColumn"><h3>Stanford professor receives presidential award</h3>
Richard N. Zare is one of 22 nationwide recipients of the Presidential Award for Excellence.</div>
<div class="endPanelDiv"></div>
</div>
</div>

</body>
</html>
