<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Floating Image Example</title>
<style>
#puppy {float: left}
#puppy2 {float: left}
</style>
</head>
<body>

<p>Here is a picture of my dog Molly.  Molly is a Cairn Terrier.</p>

<img id="puppy" src="puppy.jpg" alt="a photo of my dog Molly" />

<img id="puppy2" src="puppy2.jpg" alt="another photo of Molly" />

<p>Cairn Terriers are originally from Scotland, where they were
breed to hunt badgers and foxes in the Scottish Cairns -- rock piles
thought to be left over from Roman times.</p>

<p>Cairn Terriers needed to be small enough to go down into
a hole after a badger, and tough enough to fight a badger in
its den.  As such, these terriers are tough and stubborn.</p>

<p>Today's Cairn Terrier is far more likely to be found
sitting by a fireside or on their owner's lap than fighting
fierce prey in underground warrens.</p>
</body>
</html>