<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Floating Quote Example</title>
<style>
#firstDiv {float: left;
           width: 275px;
		   font-family: sans-serif;
		   margin: 15px;
}
#secondDiv {float: left;
           width: 275px;
		   font-family: sans-serif;
		   margin: 15px;
}
</style>
</head>
<body>

<div id="firstDiv">We shall go on to the end, ... we shall fight on the seas and oceans, we shall fight with growing confidence and growing strength in the air, we shall defend our Island, whatever the cost may be, ... we shall never surrender ...
</div>

<div id="secondDiv">We shall go on to the end, ... we shall fight on the seas and oceans, we shall fight with growing confidence and growing strength in the air, we shall defend our Island, whatever the cost may be, ... we shall never surrender ...
</div>

</body>
</html>